.App {
  text-align: center;
}




.button{
  height: 50px;
  width: 100px;
  background-color: navy;
  font-style: #ffffff;
  color: white;
  justify-content: space-around;
  margin: 2rem;
  font-weight: bolder;
  
}



Header{
background-color: red;
  font-weight: bolder;
  height:  150px;
  margin: 0;
  padding:15px;
  font-size: 2.5rem;
  color:white;
 }

 .addPlayer{
  height: 25px;
  width: 100px;
  background-color: white;
  color: black;
  font-family: #ffffff;
  font-weight: bold;
  margin-left: 15px;
  border-color: navy;
  border-width: thick;
  border-radius: 20px;

 }

.deleteButton{
height: 25px;
width: 100px;
background-color: red;
color: white;
font-family: #ffffff;
font-weight: bold;
margin-left: 15px;
border-radius: 10px;
}

.editTeamName{
height: 25px;
width: 125px;
background-color:white;
color:black;
font-family: #ffffff;
font-weight: bold;
margin-left: 15px;
border-radius: 20px;
border-color:silver;
border-width: thick;
}

.selected {
  background-color: black;
  color:white;
}

.pointer {
  cursor: grabbing;
}

.logo{
  height:150px;
  width:115px;
  display: flex;

}